@import './variables';
@import './mixins';

.contact {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 60px;
  padding: .5rem;

    &__title {
      margin: 0;
      font-size: 2rem;
      font-family: $lead-font-family;
      font-weight: 700;
      color: black;
      text-align: center;
    }

    &__content {
      margin: 0;
      font-size: 1rem;
      font-family: $text-font-family;
      font-weight: 400;
      color: black;
      margin-bottom: .5rem;
    }

}