@import "./variables";
@import "./mixins";

.contact-page {
  width: 100%;
  height: auto;
  @include flex-center-center;
  flex-direction: column;

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 5rem;

    .contact-page__map {
      width: 100%;
      height: 100vw;
      background-color: $hero-image-description-bg-color;
      margin-bottom: 2rem;
    }

    .contact-page__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      &--title,
      &--phone,
      &--email,
      &--adress,
      &--subtitle {
        width: 100%;
        margin: 0;
        padding: 0 1rem;
        font-size: 1rem;
        color: black;
        margin-bottom: 1rem;
        line-height: 1.25;
      }

      &--title, &--subtitle {
        font-family:$text-font-family;
        font-weight: 500;
        font-size: 1.15rem;
      }

      &--subtitle {
        font-size: 1.1rem;
        margin-top: .5rem;
        margin-bottom: 0;
      }

      &--phone,
      &--email,
      &--adress {
        height: auto;
        width: 100%;
        margin: 0.35rem 0;

        &-link {
          font-size: 0.9rem;
          text-decoration: none;
          color: inherit;
          font-family: $text-font-family;
          font-weight: 400;
          display: flex;
          align-items: center;
          transition: color 1s ease;

          .contact-icon {
            height: 1.15rem;
            width: auto;
            margin-right: 0.75rem;
          }
        }

        &:hover &-link {
          color: $base-gold-color;
        }
      }

      &--adress {
        font-size: 0.9rem;
        text-decoration: none;
        color: inherit;
        font-family: $text-font-family;
        font-weight: 400;
        display: flex;
        align-items: center;
        transition: color 1s ease;

        .contact-icon {
          height: 1.15rem;
          width: auto;
          margin-right: 0.75rem;
        }

        &:nth-of-type(2) {
          padding-left: calc(1rem + 24px);
        }
      }

      &--email {
        margin-bottom: 1rem;
      }

      .contact-form-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: flex-start;

        .contact-form {
          width: 100%;
          padding: 0 1rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 1rem;

          &--input-name,
          &--input-email,
          &--input-phone,
          &--input-message,
          &--input-submit {
            width: 100%;
            margin-top: 0.5rem;
            padding: 0.5rem;
            background-color: #ffffff;
            border: none;
            border-radius: 0;
            border: 1px solid $mobile-contact-bg-color;
            color: $mobile-contact-bg-color;
            font-family: $text-font-family;
            font-size: 0.9rem;

            &:focus {
              outline: none;
            }
          }

          &--input-name,
          &--input-email,
          &--input-phone,
          &--input-message {
            &:hover::placeholder {
              color: $base-gold-color;
            }
          }

          &--input-name::placeholder,
          &--input-email::placeholder,
          &--input-phone::placeholder,
          &--input-message::placeholder {
            color: $mobile-contact-bg-color;
            font-family: $text-font-family;
            font-weight: 300;
            font-size: 0.9rem;
            transition: color 1s ease;
          }

          &--input-message {
            height: 100px;
            resize: none;

            &::placeholder {
              transform: translateY(70px);
            }
          }

          &--input-submit {
            max-width: 240px;
            margin: 1.5rem auto 0.5rem;
            border: 1px solid $mobile-contact-bg-color;
            height: 2.25rem;
            font-weight: 500;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 1s ease, color 1s ease;

            &:hover {
              color: #ffffff;
              background-color: $mobile-contact-bg-color;
            }
          }
        }
      }
    }

    @media (orientation: landscape) {
      flex-direction: row;
      .contact-page__map {
        max-height: 550px;
      }
    }
  }

  @media (min-width: 768px) {
    &__content-wrapper {
      flex-direction: row;
      margin-bottom: 2rem;

      .contact-page__map {
        width: 50%;
        max-height: 525px;
        background-color: $hero-image-description-bg-color;
        margin: 1rem 0;
      }

      .contact-page__content {
        justify-content: space-evenly;
        width: 50%;
        height: 525px;
        padding-right: 1rem;
        margin: 1rem 0;

        &--subtitle {
          margin-top: 0;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    &__content-wrapper {
      margin-top: 7rem;

      .contact-page__map {
        max-height: 500px;
      }

      .contact-page__content {
        height: 500px;

        .contact-form-wrapper {
          width: 100%;
          max-width: 640px;
        }
      }
    }
  }

  @media (min-width: 1280px) {
    &__title {
      font-size: 2.5rem;
    }

    &__content-wrapper {
      max-width: 1280px;
      flex-direction: row;
      margin-bottom: 2rem;
      margin-top: 8rem;

      .contact-page__map {
        min-width: 35%;
      }

      .contact-page__content {
        margin-left: 4rem;
        justify-content: center;
        padding: 0;
      }
    }
  }
}

.contact-page-footer {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 60px;
  padding: 2rem 1rem;
  background-color: $mobile-contact-bg-color;
  @include flex-center-center;
  flex-direction: column;

  &-wrapper {
    width: 100%;
    @include flex-center-center;
    flex-direction: column;
    margin-bottom: 1.5rem;

    .contact-logo {
      width: 100%;
      height: 60px;
      @include flex-center-center;

      &--image {
        height: 90%;
        width: auto;
      }
    }

    .contact-social {
      width: 100%;
      @include flex-center-center;
      height: 60px;

      &--facebook, &--phone, &--instagram {
        width: 32px;
        height: 32px;
        background-color: transparent;
        margin: .5rem;
    
        &--link {
          display: block;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
        }
      }
    
      &--facebook--link {
        background-image: url('./images/logos/facebook-square.svg');
      }
    
      &--phone--link {
        background-image: url('./images/logos/phone-square.svg');
      }
    
      &--instagram--link {
        background-image: url('./images/logos/instagram-square.svg');
      }
    }

    .contact__content {
      margin: 0;
      font-size: 0.9rem;
      font-family: $text-font-family;
      font-weight: 400;
      color: $contact-font-color;
      margin: 0.35rem 0;

      .contact-icon {
        height: 1rem;
        width: auto;
        margin-right: 0.5rem;
      }

      &:nth-of-type(2) {
        margin-left: 24px;
      }

      &--cta {
        height: auto;
        width: 100%;
        margin: 0.35rem 0;

        &-link {
          font-size: 0.9rem;
          text-decoration: none;
          color: $contact-font-color;
          font-family: $text-font-family;
          font-weight: 400;
          display: flex;
          align-items: center;
          transition: color 1s ease;

          .contact-icon {
            height: 1rem;
            width: auto;
            margin-right: 0.5rem;
          }
        }

        &:hover .contact__content--cta-link {
          color: $base-gold-color;
        }
      }
    }
  }

  &-footer-menu-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    border-top: 1px solid #fff;

    .footer-menu-title {
      margin-top: 1.5rem;
      margin-bottom: 0;
      color: $footer-mobile-menu-font-color;
      text-transform: uppercase;
      font-family: $footer-mobile-menu-font-family;
      font-weight: 500;
      font-size: 0.9rem;
    }

    .footer-menu {
      margin-top: 0.75rem;
      margin-bottom: 1.5rem;

      &__list {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        text-transform: uppercase;

        &-item {
          width: 100px;
          margin: 0.25rem 0;
          border-bottom: 1px solid transparent;
          transition: border-color 1s ease;

          &:hover {
            border-color: $footer-mobile-menu-font-color;
          }

          a {
            font-size: 0.9rem;
            color: $footer-mobile-menu-font-color;
            text-decoration: none;
            font-family: $footer-mobile-menu-font-family;
            font-weight: $footer-mobile-menu-font-weight;
          }
        }
      }
    }
  }

  &-footer-form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    border-top: 1px solid #fff;

    .contact-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1rem;

      &--input-name,
      &--input-email,
      &--input-phone,
      &--input-message,
      &--input-submit {
        width: 100%;
        margin-top: 0.5rem;
        padding: 0.5rem;
        background-color: $mobile-contact-bg-color;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #ffffff;
        color: $contact-font-color;
        font-family: $text-font-family;
        font-size: 0.9rem;

        &:focus {
          outline: none;
        }
      }

      &--input-name,
      &--input-email,
      &--input-phone,
      &--input-message {
        &:hover::placeholder {
          color: $base-gold-color;
        }
      }

      &--input-name::placeholder,
      &--input-email::placeholder,
      &--input-phone::placeholder,
      &--input-message::placeholder {
        color: $contact-font-color;
        font-family: $text-font-family;
        font-weight: 300;
        font-size: 0.9rem;
        transition: color 1s ease;
      }

      &--input-message {
        height: 100px;
        resize: none;

        &::placeholder {
          transform: translateY(70px);
        }
      }

      &--input-submit {
        max-width: 240px;
        margin: 1.5rem auto 0.5rem;
        border: 1px solid #ffffff;
        height: 2.25rem;
        font-weight: 500;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 1s ease, color 1s ease;

        &:hover {
          color: $mobile-contact-bg-color;
          background-color: white;
        }
      }
    }
  }

  @media (min-width: 568px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &-adress-wrapper {
      width: calc(50% - 30px);
      margin-bottom: 0;
      height: 160px;
    }

    &-footer-menu-wrapper {
      width: calc(50% - 30px);
      height: 160px;
      border-left: 1px solid #fff;
      border-top: none;
      justify-content: flex-start;

      .footer-menu-title {
        padding-left: 1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }

      .footer-menu {
        margin-top: 0;
        padding-left: 1.5rem;
      }
    }

    &-footer-form-wrapper {
      margin-top: 2rem;

      .contact-form {
        margin-top: 0;
      }
    }
  }

  @media (min-width: 1024px) {
    margin-bottom: 0;
    padding: 2rem calc((100vw - 1280px) / 2);

    &-adress-wrapper {
      margin-left: 30px;
      max-width: 250px;
      height: 270px;
    }

    &-footer-menu-wrapper {
      max-width: 250px;
      height: 270px;
    }

    &-footer-form-wrapper {
      margin-right: 30px;
      margin-top: 0;
      max-width: 400px;
      height: 270px;
      border-left: 1px solid #fff;
      border-top: none;

      .contact-form {
        margin-top: 0;
        padding-left: 1.5rem;

        &--input-name {
          margin-top: 0;
        }

        &--input-message {
          height: 80px;
          resize: none;

          &::placeholder {
            transform: translateY(52px);
          }
        }
      }
    }
  }

  @media (min-width: 1400px) {
    &-adress-wrapper {
      margin-left: 0;
    }

    &-footer-form-wrapper {
      margin-right: 0;
    }
  }
}