@import './variables';
@import './mixins';

.hero {
  @include flex-center-center;

  width: 100%;
  height: 100vw;
  background-image: url("./images/heroes/hero_01_1024_768.jpg");
  background-position: center;
  background-size: cover;

    &__title {
      margin: 0;
      font-size: 2rem;
      font-family: $lead-font-family;
      font-weight: 700;
      color: white;
    }

}