@import './variables';
@import './mixins';

.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 60px;
  width: 100%;
  height: 80vw;
  max-height: 600px;
  background-image: url('./images/heroes/krakow_01_1024_697.jpg');
  background-position: center;
  background-size: cover;

  @media (orientation: landscape) {
    height: 100vh;
    max-height: calc(100vh - #{$top-bar-height} * 2);
  }

  .search-wrapper {
    @include flex-center-center;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    padding: 1rem 0;
    transform: translateX(-50%);
    background-color: $search-form-bg-color;


    .search-form {
      @include flex-center-center;
      flex-direction: column;
      width: 100%;

      .search-form-selects-wrapper {
        @include flex-center-center;
        flex-direction: column;

        .search-form__property, .search-form__transaction, .search-form__localization {
          font-family: $text-font-family;
          width: 160px;
          height: 1.5rem;
          font-size: .8rem;
          margin-bottom: .25rem;
  
          &--item {
            text-align: center;
          }
        }
      }

      &__button {
        font-family: $text-font-family;
        width: 120px;
        height: 1.5rem;
        margin-top: .75rem;
        text-transform: uppercase;
      }
    }

    @media (orientation: landscape) {
      width: 100%;

      .search-form {
        .search-form-selects-wrapper {
          flex-direction: row;

          .search-form__property, .search-form__transaction, .search-form__localization {
            margin: .5rem;
          }
        }

      }
    }
  }

  @media (min-width: 768px) {
    height: 50vh;
    max-height: 600px;

    .search-wrapper {
      height: 20%;
      background-color: $search-form-bg-color;

      width: 100%;

      .search-form {
        .search-form-selects-wrapper {
          flex-direction: row;

          .search-form__property, .search-form__transaction, .search-form__localization {
            width: 200px;
            height: 2rem;
            font-size: 1rem;
          }
        }

      }

      &__button {
        font-family: $text-font-family;
        width: 160px;
        height: 2rem;
        margin-top: .75rem;
        text-transform: uppercase;
      }
    }
  }

  @media (min-width: 1024px) {
    height: calc(100vh - #{$top-bar-height});
    max-height: 100vh;
    background-image: url('./images/heroes/krakow_01_1920_1306.jpg');

    .search-wrapper {
      width: 80%;
      max-width: 800px;
    }
  }
  
  @media (min-width: 1280px) {
    background-image: url('./images/heroes/krakow_01_1920_1306.jpg');

    .search-wrapper {
      bottom: 2rem;
      width: 60%;
      max-width: 800px;
      max-height: 140px;
    }
  }
}