@import './variables';
@import './mixins';

.social {
  //@include flex-center-center;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;

  position: fixed;
  right: 0;
  bottom: calc(50vh - 20vw);
  width: 15vw;
  max-width: 60px;
  height: 40vw;
  max-height: 180px;


  &__facebook, &__phone, &__instagram {
    width: 80%;
    height: calc(15vw * .8);
    background-color: transparent;

    &--link {
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      opacity: .7;
    }
  }

  &__facebook--link {
    background-image: url('./images/logos/facebook-square.svg');
  }

  &__phone--link {
    background-image: url('./images/logos/phone-square.svg');
  }

  &__instagram--link {
    background-image: url('./images/logos/instagram-square.svg');
  }
}