$menu-font-color: #000000;
$hero-font-color: #929292;

$header-bg-color: #041549;
$text-font-family: 'Source Sans Pro',sans-serif;
$lead-font-family: 'Abhaya Libre', serif;

$mobile-menu-font-size: 2rem;
$mobile-menu-font-family: 'Source Sans Pro',sans-serif;
$mobile-menu-font-weight: 600;
$mobile-menu-font-color: #ffffff;
$mobile-menu-bg-color: #041549;

$top-bar-height: 60px;

$desktop-menu-font-family: 'Source Sans Pro',sans-serif;
$desktop-menu-font-size: .9rem;
$desktop-menu-font-weight: 400;
$desktop-menu-font-color: rgba(#ffffff, .8);



$icons-filter: invert(14%) sepia(13%) saturate(5989%) hue-rotate(203deg) brightness(86%) contrast(115%);
$active-menu-icons-filter: invert(93%) sepia(44%) saturate(7%) hue-rotate(128deg) brightness(105%) contrast(102%);

$new-offer-font-color:  #1d2731;

$new-offer-main-desc-bg-color: #dbe3fd;
$new-offer-add-desc-bg-color: #f1f4fe;

$investment-main-desc-bg-color: #dbe3fd;
$investment-add-desc-bg-color: #f1f4fe;

$site-title-bg-color: #dbe3fd;
$site-desc-bg-color: #f1f4fe;

$summary-bg-color: #dbe3fd;
$description-bg-color: #f1f4fe;
$summary-font-color: #0a1612;

$single-offer-title-font-size: 1.5rem;
$single-offer-subtitle-font-size: 1.25rem;
$single-offer-text-font-size: 1.1rem;

$single-offer-title-font-color: #0a1612;
$single-offer-subtitle-font-color: #1a2930;
$single-offer-text-font-color: #1d2731;

$mobile-contact-bg-color: rgba(#041549, .8);
$contact-font-color: #ffffff;
$contact-cta-border-color: #ffffff;
$contact-cta-bg-color: #1d2731;

$footer-mobile-menu-font-size: 1rem;
$footer-mobile-menu-font-family: 'Source Sans Pro',sans-serif;
$footer-mobile-menu-font-weight: 300;
$footer-mobile-menu-font-color: #ffffff;



